<div id="main">
	<div class="inner">
		<section>
			<header class="main">
				<h1>Our Vision</h1>
			</header>
			<span class="image main"><img ng-src="images/icon.png"/></span>
			<h2>Our Vision</h2>
			<p>Our Only vision to make kids healthier and active and actively participate all the listed games instead of sitting in front of the computer and payment games online, that making our kids lazy and unhealthy.
			When you plan for outdoor Trips thy the games listed the App. not only children parents also can participate on this games and Feel the Fun</p>
		</section>
	</div>
</div>