<!DOCTYPE html>
<html ng-app="MetaDiseaseApp">
	<head>
		<title>Childhood Games</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" ng-controller="homeController"  ng-controller="detailsController" >

				<div ui-view> </div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner" >

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" ui-keypress="{13:'search($event)'}" ng-submit="search()">
										<input ng-model="query" type="text" id="query" placeholder="Search" />
									</form>
								</section>
								
								<!-- Section -->
								<section ng-if="query">
									<header class="major">
										<h2>Results</h2>
									</header>
									<div class="mini-posts">
										<article ng-repeat="game in games | filter:query">
											<a ui-sref="details({id:game.id})" class="image"><img ng-src="images/games/{{game.image}}" /></a>
											<p>{{game.name}}</p>
										</article>
									</div>
								</section>

							<!-- Section -->

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="#/">Homepage</a></li>
										
										<li ng-repeat="game in games"><a ui-sref="details({id:game.id})">{{game.name}}</a></li>
									<!--<li><a href="elements.html">Elements</a></li>
										<li>
											<span class="opener">Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Etiam Dolore</a></li>
										<li><a href="#">Adipiscing</a></li>
										<li>
											<span class="opener">Another Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Maximus Erat</a></li>
										<li><a href="#">Sapien Mauris</a></li>
									<li><a href="#">Amet Lacinia</a></li>-->
									</ul>
								</nav>

							
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p>Ask for More Details, Report Us if any Mistake or Wrong medications are suggested.</p>
									<ul class="contact">
										<li class="fa-envelope-o"><a>fareed543@gmail.com</a></li>
										<li class="fa-phone">(720) 755 6743</li>
										<li class="fa-home">Khairathabad, Hyderabad</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Mohammad Fareed. All rights reserved.</p>
								</footer>

						</div>
					</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/lib/angular/angular.min.js"></script>
			<script src="assets/lib/angular/angular-ui-router.js"></script>
			<script src="app/app.module.js"></script>
			<script src="app/components/home/homeController.js"></script>
			<script src="app/components/details/detailsController.js"></script>
			<script type="text/javascript" src="cordova.js"></script>
	</body>
</html>